<form class="d-flex flex-column gap-4" #submit="ngForm" (ngSubmit)="onSubmit(submit)" novalidate>
    <div class="mb-3">
      <label for="ac1" class="form-label">AC1</label>
      <input type="number" class="form-control" ngModel name="ac1" aria-describedby="ac1">
    </div>
    <div class="mb-3">
      <label for="ac2" class="form-label">AC2</label>
      <input type="number" class="form-control" ngModel name="ac2" aria-describedby="ac2">
    </div>
    <div class="mb-3">
      <label for="ag" class="form-label">AG</label>
      <input type="number" class="form-control" ngModel name="ag" aria-describedby="ag">
    </div>
    <div class="mb-3">
      <label for="af" class="form-label">AF</label>
      <input type="number" class="form-control" ngModel name="af" aria-describedby="af">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

    <h1>{{result}}</h1>
  </form>